<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>
      name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
      color:
      <input [(ngModel)]="hero.color" placeholder="color"/>
      RangerID
      <input [(ngModel)]="hero.rangerid" placeholder="rangerid"/>
      Phone
      <input [(ngModel)]="hero.rangerid" placeholder="rangerid"/>
    </label>
  </div>
</div>
<button (click)="goBack()">go back</button>