<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="text-center bg-warning text-white m-0 p-3"><i class="fas fa-user-astronaut mr-2"></i>{{ title }}<i class="fas fa-user-astronaut ml-2"></i></h1>
  <ul class="nav justify-content-center bg-danger">
    <li class="nav-item">
      <a class="nav-link active bg-light" routerLink="/heroes">Heroes List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-light" routerLink="/dashboard">Dashboard</a>
    </li>
  </ul>
  <div class="container bg-light pb-5">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
  </div>
  <h1 class="text-center text-white p-3 bg-danger"><i class="fas fa-user-astronaut mr-2"></i>{{ title }}<i class="fas fa-user-astronaut ml-2"></i></h1>

