 <h2 class="text-center p-2">Top Heroes</h2>
  <div class="row justify-content-center p-3"> 
    <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}" class="col-2 mr-1 mb-2 {{hero.color}}"> 
      <div class="p-4"><img src={{hero.profile}} width="100px" height="160px"/><span class="text-white hero-tag">{{hero.name}}</span></div>
    </a>
  </div>

