.Wolverine {
  background-color: ;
}
.Spider-Man {
  background-color:#2B3784;
  color : #2B3784 !important;
  font-weight: bold;
}
.Thor {
  background-color:#FFFE03;
  color:#FFFE03 !important;
  font-weight: bold;
}
.Iron-Man {
  background-color:#6A0C0B;
  color:#6A0C0B !important;
  font-weight: bold;
}
.Hulk {
  background-color:#A2CD48;
  color:#A2CD48 !important;
  font-weight: bold;
}
.Captain-America {
  background-color:#EC2004;
  color:#EC2004 !important;
  font-weight: bold;
}
.Daredevil {
  background-color:#333333;
  color:#333333 !important;
  font-weight: bold;
}
.Punisher {
  background-color:#660033;
  color:#660033 !important;
  font-weight: bold;
}
.Deadpool {
  background-color:#101010;
  color:#101010 !important;
  font-weight: bold;
}
.Silver-Surfer {
  background-color: #c4d4e0;
  color:#c4d4e0 !important;
  font-weight: bold;
}
.Gambit {
  background-color:#CC66CC;
  color:#CC66CC !important;
  font-weight: bold;
}
.hero-tag {
  background-color:#FFFFFF;
  color : #101010 !important;
  width:100px;
  display:block !important;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
}