<div class="container bg-info pb-5">
  <h2 class="text-center text-muted p-2">My Heroes</h2>
  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let hero of heroes"
        ><a routerLink="/detail/{{hero.id}}"><span class="badge badge-secondary p-2 mr-5">{{hero.id}}</span>{{hero.name}}</a></li>
      </ul>
    </div>
    <div class="col-8">
      <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
</div>
